* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#campo {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.quadrato {
    height: 100px;
    width: 100px;
    background-color: green;
    border: 1px solid black;
}

.quadrato.rosso {
    background-color: red;
}

.quadrato.nero {
    background-color: black;
}

button {
    margin: 50px auto;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 20px;
}

button:hover {
    background-color: red;
    cursor: pointer;
}

#punteggio {
    text-align: center;
}

#score {
    display: inline-block;
    background-color: chartreuse;
    height: 50px;
    width: 50px;
    color: black;
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.close{
    display: none;
}

.open{
    display: block;
}